<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h3>Add New User</h3>
	<form action="/create" method="post">
		{% csrf_token %}
		<label>First Name:</label>
		<input type="text" name="fname">

		<label>Last Name:</label>
		<input type="text" name="lname">

		<label>Email:</label>
		<input type="text" name="email">

		<input type="submit" name="submit">
	</form>
	<a href="/">Go Back</a>
	{% if messages %}
	<ul class='messages'>
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
</body>
</html>